.card_container{
    animation: fadeIn ease 0.5s;
    -webkit-animation: fadeIn ease 0.5s;
    -moz-animation: fadeIn ease 0.5s;
    -o-animation: fadeIn ease 0.5s;
    -ms-animation: fadeIn ease 0.5s;
    margin-top: 160px;
   position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 360px;
    height: 433px;
    text-align: center;
    background-color: rgba(209, 184, 184, 0.849);
    border-radius: 5px;
    margin: 32px;
    border: 1.3px solid rgb(0, 0, 0);
    color: #111111;
}
 
.image img {
    display: block;
    position: absolute;
    top: 85px;
    left: 63px; 
    border-radius: 5px;
    border: 0.5px solid rgba(0, 0, 0, 0.986);
    height: 144px;
    width: 233px;
    object-fit: cover;
    object-position: center center;
    box-shadow: 3px 3px 5px rgb(20 20 20 / 80%); 
}

.card_title{
    text-transform: capitalize;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    font-size: 25px;
    font-family: 'Arial';
   
}

.diets_card{
    color: black;
    text-align: justify;
    font-family: 'Arial';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 5px;
    left: 25px;
    right: 25px;
    bottom: 35px;
    margin: 10px;
    flex-wrap: wrap;
    -webkit-justify-content: space-evenly;
    -webkit-align-items: center;
    -webkit-flex-wrap: wrap;
    
}

.diets_card span{
    font-size: 11px;
    margin: 0.5px;
    border: 0.3px solid rgba(0, 0, 0, 0.4);
    padding: 0px 4px;
    margin-right: 8px;
    margin-bottom: 27px;
    border-radius: 2px;
    /* background-color: rgb(89, 81, 110); */
    box-shadow: 3px 3px 5px rgb(20 20 20 / 80%); 

}

.button_card{
    font-family: 'cormier';
    color: black;
    background-image: linear-gradient(to right, #571c1c 0%, #571c1c  51%, #571c1c  100%);
    font-size: 15px;
    position: absolute;
    right: 13px;
    bottom: 13px;
    cursor: pointer;
    border-radius: 3px;
    transition: transform 250ms;
}

.button_card:hover{
    background-image: linear-gradient(to right, #811f1f 0%, #811f1f  51%, #811f1f 100%);
   transition: transform .3s ease;
   /* transform: scale(1.1); */
}

@keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }