.landing_container{
  
  opacity: 1;
     background-image:
    url('https://imgr.search.brave.com/cJOYaK7isX9UjJewMrsSxoSrQ_0FOHp86bUqVpYH-3g/fit/1200/1200/no/1/aHR0cDovL3d3dy5h/bGxzdGF0ZWxvZ2hv/bWVzLmNvbS93cC1j/b250ZW50L3VwbG9h/ZHMvMjAxNy8xMC9r/aXRjaGVuLWRlc2ln/bi1jb2xvci15ZWxs/b3cuanBn');
   background-size: cover; 
   background-position: center 70%;
   overflow:hidden;
   width: 110vw;
   height: 100vh; 
} 


.button_home {
  opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    background-image: linear-gradient(to right, #fdf90d 0%, #f7f32d  51%, #d1ce2d  100%);

       margin: 10px;
       padding: 10px 35px;
       text-align: center;
       text-transform: uppercase;
       transition: 0.5s;
       background-size: 200% auto;
       color: white;            
       box-shadow: 0 0 20px rgb(168, 167, 167);
       border-radius: 5px;
       display: flex;
       align-items: center;
       justify-content: center;
       position: absolute;
       right: 600px;
       bottom: 300px;
       margin: 10px;
       padding: 10px 35px;
       width: 150px;
}
.button_home:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  .link_text { 
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'cormier';
    font-size: 35px;
    text-decoration: none;
    max-width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .welcome_text {
    position: absolute;
    left: 396px;
    bottom: 330px;
    display: flex;
    align-items: center;
    justify-content: center ;
    padding-top: -400px;
    opacity: 1;
    color: white;
    text-shadow: -1px 0 black, 5px 5px black, 1px 0 black, 0 5px black;
    text-shadow: 2px 2px 4px #000000;
    font-size: 100px;
    animation-name: fadeInOpacity; 
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    font-family: 'cormier';
   }



   @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
